h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	text-align: center;
}

h2 {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffb600;
	font-size: 1.8em;
	border-radius: 15px;
	text-align: center;
	padding: 15px;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}

h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-style: italic;
	font-weight: normal;
	line-height: normal;
	margin-top: 1em;
	margin-bottom: 0em;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	text-align: justify;
	background-image: url("../_images/vending-machine.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 1000px;
	background-color: #B6B6B6;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: #B6B6B6;
}

a:visited {
	color: #B6B6B6;
}

a:hover {
	color: #000000;
}

a:active {
	color: #000000;
}

div {
	margin: auto;
	width: 1000px;
	padding: 15px;
	border: 10px solid #B6B6B6;
	border-radius: 15px;
	background-color: rgba(255,255,255, .8);
}

body > p {
	/*this is the top level. Outside of div*/
	color: white;
	text-align: center;
	
}

#input {
	position: absolute;
	top: 441px;
	left: 80px;
	width: 404px;
	height: 150px;
	padding: 0px;
	border: 0px;
	background-color: rgba(255,255,255, .0);
	
}
#output {
	position: absolute;
	top: 591px;
	left: 80px;
	width: 384px;
	height: 150px;
	padding: 10px;
	border: 0px;
	background-color: rgba(255,255,255, .0);
	color: white;
}

#button-calc {
	float:left;
	position: absolute;
	right: 7px;
	top: 7px;
	padding: 0px;
	width: 100px;
}

#curbal {
	height:60px;
	width: 300px;
	padding: 0px;
	margin: 0px;
	background-color: black;
	border-style: none none solid none;
	border-width: 5px;
}

.large-text {
	color: white;
	font-size: 30pt;
	font-family: Helvetica;
}



/* 
grey #b6b6b6
red #860106 910311
yellow #ffb600
blue #1E2C4F
green #3b5307 395309

red ui ad2229
//red ui A40510
//dark red ui A4030D
orange ui f76c11
yellow ui F7B500
blue ui 012241
green ui 4a5a00

*/

// type 'c)<tab> isoD<tab>' to add following line
// (c) Copyright 2017 Tom van Grootel. All Rights Reserved. 2017-02-28